<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="resources/css/all-users.css" rel="stylesheet">
</head>
<body>
<main class="main">
    <div class="row">
        <div class="col-md-3 ">
            <div class="position-sticky">
                <div class="p-2 mb-3">
                    <div class="btn-group-vertical btn-group-toggle " data-toggle="buttons">
                        <a class="btn btn-md btn-secondary" href="main">
                            Моя страница
                        </a>
                        <a class="btn btn-md btn-secondary" href="#">
                            Сообщения
                        </a>
                        <a class="btn btn-md btn-secondary" th:href="@{'news/' + ${id}}">
                            Новости
                        </a>
                        <a class="btn btn-md btn-secondary active" href="friend-list">
                            Друзья
                        </a>
                        <a class="btn btn-md btn-secondary" href="user-list">
                            Список пользователей
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="row">
                    <div class="col-md-10">
                        <h1>Список пользователей</h1>
                    </div>
                    <div class="col-md-2">
                        <div class="exitB">
                            <a class="w-30 btn btn-lg btn-secondary" href="exit" type="submit">Выход</a>
                        </div>
                    </div>
                </div>
            </div>

            <th:block th:each="user : ${users}">
                <div class="row">
                    <div class="col-md-5">
                        <div class="p-2">
                            <div class="user">
                                <a th:href="@{'user-page/' + ${user.id}}">
                                    <h5 th:text="${user.name}">..</h5>
                                </a>
                                <a th:href="@{'delete-friend?id=' + ${user.id}}">
                                    <h6>Удалить из друзей?</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

        </div>
    </div>
</main>
</body>
</html>