<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать чат</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="css/create-chat.css" rel="stylesheet">
</head>
<body class="text-center">
<main class="main">
    <h4>Создать чат</h4>
    <form action="create-chat" method="post">
        <th:block th:each="user : ${users}">
            <div class="pt-1 pb-1">
                <input type="checkbox" th:attr='value=${user.id}' name="accIds" th:text="${user.name}">
            </div>
        </th:block>
        <div>
            <label for="name">Введите имя</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="pt-3 pb-2">
            <button class="w-100 btn btn-lg btn-secondary" type="submit">Создать чат</button>
        </div>
    </form>
</main>
</body>
</html>