<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="resources/css/edit-post.css" rel="stylesheet">
</head>
<body>
<main class="main">
    <div class="row col-md-12">
        <form th:action="@{edit-acc}" th:method="POST" th:object="${newAccount}">
            <div class="form-floating">
                <input type="email" class="form-control" name="email" id="email" th:value="${account.email}">
                <label for="email" th:field="*{email}">Адрес почты</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" name="name" id="name" th:value="${account.name}">
                <label for="name" th:field="*{name}">Имя пользователя</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="oldPass" id="oldPass">
                <label for="oldPass">Пароль</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="pass" id="pass">
                <label for="pass" th:field="*{pass}">Новый пароль</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="chPass" id="chPass">
                <label for="chPass">Подтвердите пароль</label>
            </div>
            <button class="w-100 btn btn-lg btn-dark" type="submit">Изменить</button>
        </form>
    </div>
</main>
</body>
</html>