<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>maven-deploy</display-name>

    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>source.verification.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>source.verification.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>source.entity.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FriendList</servlet-name>
        <servlet-class>source.entity.FriendListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendList</servlet-name>
        <url-pattern>/friend-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserPage</servlet-name>
        <servlet-class>source.entity.UserPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPage</servlet-name>
        <url-pattern>/user-page</url-pattern>
    </servlet-mapping>

</web-app>